In [2]:
import pandas as pd
import numpy as np
from pandas import DataFrame

import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
# Step 1: Read in the data
# We will use data from five US states for modeling

path = r'C:\Users\jjia\Desktop\Data-Analysis-with-Python-main\Project 5\data\\'

file_2020q1_OH = pd.read_csv(path + 'file_2020Q1_OH.csv')
file_2020q1_VA = pd.read_csv(path + 'file_2020Q1_VA.csv')
file_2020q1_GA = pd.read_csv(path + 'file_2020Q1_GA.csv')
file_2020q1_MI = pd.read_csv(path + 'file_2020Q1_MI.csv')
file_2020q1_CO = pd.read_csv(path + 'file_2020Q1_CO.csv')

In [5]:
df = pd.concat([file_2020q1_OH, file_2020q1_VA, file_2020q1_GA, file_2020q1_MI, file_2020q1_CO])
df.shape

(2071611, 108)

In [6]:
df.head(10)

,POOL_ID,LOAN_ID,ACT_PERIOD,CHANNEL,SELLER,SERVICER,MASTER_SERVICER,ORIG_RATE,CURR_RATE,ORIG_UPB,...,MARGIN,BALLOON_INDICATOR,PLAN_NUMBER,FORBEARANCE_INDICATOR,HIGH_LOAN_TO_VALUE_HLTV_REFINANCE_OPTION_INDICATOR,DEAL_NAME,RE_PROCS_FLAG,ADR_TYPE,ADR_COUNT,ADR_UPB
0,NaN,98836743,12020,R,Other,Other,NaN,3.625,3.625,207000.0,...,NaN,NaN,NaN,7,N,NaN,NaN,7,NaN,NaN
1,NaN,98836743,22020,R,Other,Other,NaN,3.625,3.625,207000.0,...,NaN,NaN,NaN,7,N,NaN,NaN,7,NaN,NaN
2,NaN,98836743,32020,R,Other,Other,NaN,3.625,3.625,207000.0,...,NaN,NaN,NaN,7,N,NaN,NaN,7,NaN,NaN
3,NaN,98836743,42020,R,Other,Other,NaN,3.625,3.625,207000.0,...,NaN,NaN,NaN,7,N,NaN,NaN,7,NaN,NaN
4,NaN,98836743,52020,R,Other,Other,NaN,3.625,3.625,207000.0,...,NaN,NaN,NaN,7,N,NaN,NaN,7,NaN,NaN
5,NaN,98836743,62020,R,Other,Other,NaN,3.625,3.625,207000.0,...,NaN,NaN,NaN,7,N,NaN,NaN,7,NaN,NaN
6,NaN,98836743,72020,R,Other,Other,NaN,3.625,3.625,207000.0,...,NaN,NaN,NaN,7,N,NaN,NaN,7,NaN,NaN
7,NaN,98836743,82020,R,Other,Other,NaN,3.625,3.625,207000.0,...,NaN,NaN,NaN,7,N,NaN,NaN,7,NaN,NaN
8,NaN,98836743,92020,R,Other,NaN,NaN,3.625,NaN,207000.0,...,NaN,NaN,NaN,7,N,NaN,N,7,NaN,NaN
9,NaN,98836744,12020,R,Other,Other,NaN,3.625,3.625,215000.0,...,NaN,NaN,NaN,7,N,NaN,NaN,7,NaN,NaN

In [8]:
df['LOAN_ID'].nunique()

104924

In [9]:
df.groupby('STATE')['LOAN_ID'].count()

STATE
CO    485045
GA    428255
MI    479014
OH    339552
VA    339745
Name: LOAN_ID, dtype: int64

In [10]:
df.groupby('STATE')['LOAN_ID'].nunique()

STATE
CO    27121
GA    20888
MI    23998
OH    15667
VA    17250
Name: LOAN_ID, dtype: int64

In [11]:
# Step 2: Define 'bad'

# We intend to apply a more stringent criterion for defining 'bad'
# This definition will be used to build a payment default model
# Two things to consider for defining such a variable as 'bad'
#   - The definition should be representative of bad/derogatory behavior
#   - We can get enough such data points for modeling

df.columns.tolist()

['POOL_ID',
 'LOAN_ID',
 'ACT_PERIOD',
 'CHANNEL',
 'SELLER',
 'SERVICER',
 'MASTER_SERVICER',
 'ORIG_RATE',
 'CURR_RATE',
 'ORIG_UPB',
 'ISSUANCE_UPB',
 'CURRENT_UPB',
 'ORIG_TERM',
 'ORIG_DATE',
 'FIRST_PAY',
 'LOAN_AGE',
 'REM_MONTHS',
 'ADJ_REM_MONTHS',
 'MATR_DT',
 'OLTV',
 'OCLTV',
 'NUM_BO',
 'DTI',
 'CSCORE_B',
 'CSCORE_C',
 'FIRST_FLAG',
 'PURPOSE',
 'PROP',
 'NO_UNITS',
 'OCC_STAT',
 'STATE',
 'MSA',
 'ZIP',
 'MI_PCT',
 'PRODUCT',
 'PPMT_FLG',
 'IO',
 'FIRST_PAY_IO',
 'MNTHS_TO_AMTZ_IO',
 'DLQ_STATUS',
 'PMT_HISTORY',
 'MOD_FLAG',
 'MI_CANCEL_FLAG',
 'Zero_Bal_Code',
 'ZB_DTE',
 'LAST_UPB',
 'RPRCH_DTE',
 'CURR_SCHD_PRNCPL',
 'TOT_SCHD_PRNCPL',
 'UNSCHD_PRNCPL_CURR',
 'LAST_PAID_INSTALLMENT_DATE',
 'FORECLOSURE_DATE',
 'DISPOSITION_DATE',
 'FORECLOSURE_COSTS',
 'PROPERTY_PRESERVATION_AND_REPAIR_COSTS',
 'ASSET_RECOVERY_COSTS',
 'MISCELLANEOUS_HOLDING_EXPENSES_AND_CREDITS',
 'ASSOCIATED_TAXES_FOR_HOLDING_PROPERTY',
 'NET_SALES_PROCEEDS',
 'CREDIT_ENHANCEMENT_PROCEEDS',
 'REPURCHASES_MAKE_WHOLE_PROCEEDS',
 'OTHER_FORECLOSURE_PROCEEDS',
 'NON_INTEREST_BEARING_UPB',
 'PRINCIPAL_FORGIVENESS_AMOUNT',
 'ORIGINAL_LIST_START_DATE',
 'ORIGINAL_LIST_PRICE',
 'CURRENT_LIST_START_DATE',
 'CURRENT_LIST_PRICE',
 'ISSUE_SCOREB',
 'ISSUE_SCOREC',
 'CURR_SCOREB',
 'CURR_SCOREC',
 'MI_TYPE',
 'SERV_IND',
 'CURRENT_PERIOD_MODIFICATION_LOSS_AMOUNT',
 'CUMULATIVE_MODIFICATION_LOSS_AMOUNT',
 'CURRENT_PERIOD_CREDIT_EVENT_NET_GAIN_OR_LOSS',
 'CUMULATIVE_CREDIT_EVENT_NET_GAIN_OR_LOSS',
 'HOMEREADY_PROGRAM_INDICATOR',
 'FORECLOSURE_PRINCIPAL_WRITE_OFF_AMOUNT',
 'RELOCATION_MORTGAGE_INDICATOR',
 'ZERO_BALANCE_CODE_CHANGE_DATE',
 'LOAN_HOLDBACK_INDICATOR',
 'LOAN_HOLDBACK_EFFECTIVE_DATE',
 'DELINQUENT_ACCRUED_INTEREST',
 'PROPERTY_INSPECTION_WAIVER_INDICATOR',
 'HIGH_BALANCE_LOAN_INDICATOR',
 'ARM_5_YR_INDICATOR',
 'ARM_PRODUCT_TYPE',
 'MONTHS_UNTIL_FIRST_PAYMENT_RESET',
 'MONTHS_BETWEEN_SUBSEQUENT_PAYMENT_RESET',
 'INTEREST_RATE_CHANGE_DATE',
 'PAYMENT_CHANGE_DATE',
 'ARM_INDEX',
 'ARM_CAP_STRUCTURE',
 'INITIAL_INTEREST_RATE_CAP',
 'PERIODIC_INTEREST_RATE_CAP',
 'LIFETIME_INTEREST_RATE_CAP',
 'MARGIN',
 'BALLOON_INDICATOR',
 'PLAN_NUMBER',
 'FORBEARANCE_INDICATOR',
 'HIGH_LOAN_TO_VALUE_HLTV_REFINANCE_OPTION_INDICATOR',
 'DEAL_NAME',
 'RE_PROCS_FLAG',
 'ADR_TYPE',
 'ADR_COUNT',
 'ADR_UPB']

In [12]:
df.groupby('DLQ_STATUS')['LOAN_ID'].count()

DLQ_STATUS
0     2019379
1       14783
2        7204
3        5353
4        3983
5        3351
6        2724
7        2209
8        1934
9        1704
10       1510
11       1368
12       1146
13        963
14        856
15        746
16        617
17        557
18        409
19        296
20        250
21        145
22         70
23         40
24         14
Name: LOAN_ID, dtype: int64

In [13]:
# We use bucket 6 as an indicator for 'bad'
# Bucket = 6 usually suggests charge-off, i.e., a customer will no longer make any payments
df['bad'] = np.where(df['DLQ_STATUS'] >= 6, 1, 0)
df_bad = df.groupby('LOAN_ID')['bad'].sum().reset_index()
df_bad['bad'] = np.where(df_bad['bad'] > 0, 1, 0)

In [14]:
print(df_bad['bad'].mean())
print(df_bad['bad'].sum())

0.02353131790629408
2469

In [15]:
# Step 3: Define prepayment

# When a loan is completely paid off before reaching its full maturity, a prepayment occurs.
# There are several types of such prepayment:
#   - Voluntary prepayment: A borrower pay off the entire balance
#   - Voluntary prepayment: A loan has been refinanced. The old loan no longer exists in the book.
#   - Involuntary prepayment: A bad loan has been written off by a creditor (usually a bank)
# We need to exclude involuntary prepayment for building the prepayment model
# Asset holder (usually banks) prefer loans with low default rates and low prepayment rates.

df.groupby('Zero_Bal_Code')['LOAN_ID'].count()

Zero_Bal_Code
1.0     54061
2.0         3
6.0        98
9.0         4
16.0        5
Name: LOAN_ID, dtype: int64

In [18]:
df['prepaid'] = np.where(df['Zero_Bal_Code'] > 0, 1, 0)
df_prepaid = df.groupby('LOAN_ID')['prepaid'].sum().reset_index()
df_prepaid['prepaid'] = np.where(df_prepaid['prepaid'] > 0, 1, 0)